/* regole generali */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato';
   outline: none;
   list-style-type: none;
   color: white;
}
body{
   background-color: #434343;
}
/* nav HEADER */
   header{
      height: 50px;
      background-color: black;
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
   }
      #nav-left{
         display: flex;
      }
         /* left logo */
         #logo{
            align-self: center;
            color: red;
            font-size: 25px;
            margin-left: 50px;
         }
         #ul-nav{
            display: flex;
            flex-flow: row nowrap;
            align-self: center;
            margin: 0 20px;
         }
         #ul-nav > li {
            font-size: 13px;
            color: lightgray;
            margin: 0 5px;
            cursor: pointer;
            align-self: flex-start;
         }
      /* right search-bar */
      #search-bar{
         color: black;
         align-self: center;
         height: 50%;
         margin-right: 50px;
         padding: 10px;
      }
/* nav HEADER*/
h2{
   text-align: center;
   margin: 25px 50px;
}

/* movies/tv container */
#container-boxes{
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   margin: 50px 0;
   padding-left: 0px;
}
   .box{
      height: 400px;
      width: 250px;
      background-color: black;
      margin: 20px 0;
      padding: 30px 20px;
      font-size: 15px;
      position: relative;
      cursor: pointer;
   }
   .box .info{padding: 5px 0;}
   .box .info h1{
      font-size: 16px;
      display: inline-block;
      padding-right: 5px;
   }
/* movies/tv container */

/* stars */
i{color: yellow;}
/* flags */
.flags{
   width: 30px;
   position: relative;
   top: 10px;
}
.flags + span{
   border-radius: 5px;
   padding: 5px;
}
/* overview */
.box p{
   font-size: 12px;
   height: 100px;
   overflow: hidden;
}
.info{position:relative;}
.info > .break{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}

/* background-box */
.background-box{
   transition: all 0.7s;
   width: 100%;
   height: 100%;
   background-position: center;
   position: absolute;
   bottom: 0;
   left: 0;

}
.background-box:hover{
   opacity: 0;
   bottom: 100px;
}


/* js */
.dNone{display: none;}
.dBlock{display: block;}
.dFlex{display: flex;}
.opacity{opacity: 0.1;transition: 0.5s;}
.noOpacity{opacity: 1;transition: 0.5s;}
.far{color: lightgray;}

/* click open info */
.infoClick{
   position: relative;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 75vw;
   height: 550px;
   background-color: black;
   border: 2px solid white;
   display: flex;
   flex-flow: row nowrap;
}
.infoClick .info h1 {
   padding-right: 10px;
   display: inline-block;
   font-size: 20px;
}
.infoClick .info p{
   padding-top: 10px;
   height: 230px;
   font-size: 17.5px;
   overflow-y: auto;
}

/* img click */
.background-click{
   width: 35%;
}
/* info right click */
.right-click{
   width: calc(100% - 35%);
   padding: 15px;
}
.right-click > .info{
   margin: 10px 0;
}




/* click close info */
.closeInfo{
   position: absolute;
   top: 10px;
   right: -20px;
   cursor: pointer;
   width: 50px;
   height: 50px;
}
   .closeInfo > i{
      color: white;
      font-size: 25px;
   }






















/* # */
