<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <title>MattFlix</title>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js ">
      </script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   </head>
   <body>

      <!-- istanza vue -->
      <div id="app">

         <!-- nav -->
         <header>
            <!-- left logo -->
            <div id="nav-left">
               <h1 id="logo">BOOLFLIX</h1>
               <ul id="ul-nav">

                  <li v-for="item in items" > {{item}}</li>

               </ul>
            </div>

            <!-- right search-bar FILTRAGGIO-->
            <input id="search-bar" v-on:keydown.13="search" v-model="research">

         </header>
         <!-- nav -->

         <!-- movies/tv container -->
         <main id="container-boxes">

            <div class="box" v-for="movie in movies">
               <!-- titolo -->
                  <div class="info">
                     <h1>Title: </h1>
                     {{ movie.title }}
                     {{ movie.name }}
                  </div>

                  <!-- titolo originale -->
                  <div class="info">
                     <h1>Original title:</h1>
                     {{ movie.original_title }}
                     {{ movie.original_name }}
                  </div>

                  <!-- linguaggio originale -->
                  <div class="info">
                     <h1>Language: </h1>
                        <!-- creo dinamicamente l'src per le flags -->
                        <img class="flags" :src="'img/' + movie.original_language + '.svg'" onerror="this.src='img/flag-error.png'" >
                        <span>
                           ({{ movie.original_language }}-{{movie.upperLanguage}})
                        </span>
                   </div>

                  <!-- voto -->
                  <div class="info">
                     <h1>Vote: </h1>
                     <i class="fas fa-star" v-for="star in movie.stars"></i>
                  </div>

                  <!-- overview -->
                  <div class="info">
                     <h1>Overview: </h1>
                     <p>{{ movie.overview }}</p>
                  </div>

                  <!-- copertine -->
                  <img class="background-box" :src="'https://image.tmdb.org/t/p/' + 'w342' + movie.poster_path" v-if="movie.poster_path !== null " >

                  <img class="background-box" src="img/error2.jpg" v-else>

            </div>
         </main>
         <!-- movies/tv container -->

      </div>

      <!-- link js -->
      <script type="text/javascript" src="js/script.js"></script>
   </body>
</html>
